<app-sidebar></app-sidebar>
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="row">
            <div class="col-md-12">
                <div class="page-head-box">
                    <h3>Dashboard</h3>
                    <nav aria-label="breadcrumb">
                       
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
     <!-- jQuery -->
     <script src="assets/js/jquery-3.6.0.min.js"></script>
		
     <!-- Bootstrap Core JS -->
     <script src="assets/js/bootstrap.bundle.min.js"></script>
     
     <!-- Slimscroll JS -->
     <script src="assets/js/jquery.slimscroll.min.js"></script>
     
     <!-- Select2 JS -->
     <script src="assets/js/select2.min.js"></script>
     
     <!-- Datatable JS -->
     <script src="assets/js/jquery.dataTables.min.js"></script>
     <script src="assets/js/dataTables.bootstrap4.min.js"></script>
     
     <!-- Custom JS -->
     <script src="assets/js/app.js"></script>
 