<div class="container  top card" style="width: 30rem;">
    <form>
        <div class="row g-3 align-items-center left">
            <h5 class="header"> Forgot Password</h5>

            <div class="col-auto">
                <label for="email" class="col-form-label">Email Address</label>
            </div>
            <div>
                <input  type="email" class="form-control center" style="width: 24rem;" required>
            </div>

        </div>

        <br>
        <div class=" bottom-button">

            <button class="btn button-bg" type="submit">Forgot Password</button>
        </div>


    </form>
</div>